@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;
  background-color: #fff;
  font-family: Poppins;
  font-size: 16px;
  /* overflow-y: hidden; */
}

/* Main Wrapper */
.wrapper {
  display: flex;
  max-width: 1063px;
  /* justify-content: center; */

  height: 40vh;
}

/* SideBar */
.sideBar {
  position: fixed;
  background-color: #fff;
  width: 90px;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 999;
  -webkit-transition: left 300ms;
  -o-transition: left 300ms;
  transition: left 300ms;
  display: flex;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}

.logo img {
  position: absolute;
  top: 6px;
  left: 7px;
  width: 75px;
}

/* Hashtags Container */
.hashContainer {
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: row;
  left: 100px;
  /* max-width: 0%; */
}

/* Hashtag Box 1 */
.hashBox1 {
  width: 500px;
  background: #52ff4f2e;
  padding: 55px;
  border-radius: 30px;
  min-height: 35vh;
  margin: 50px;
  margin-bottom: auto;
  border: 1px solid #a7e9a6a1;
}

.title h2 {
  font-size: 25px;
  text-align: left;
  font-weight: 600;
  color: #000;
  margin-left: 8px;
  letter-spacing: -0.04rem;
  margin-bottom: 15px;
}

.hashBox1 .content {
  margin: 10px 0;
}

.contentBox1 p {
  font-size: 16px;
}

.contentBox1 ul {
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #a7e9a6a1;
}

/* Hashtag Box 2 */
.hashBox2 {
  width: 500px;
  background: #fde0e0;
  padding: 55px;
  border-radius: 30px;
  min-height: 35vh;
  margin: 50px;
  border: 1px solid #f6cfb7;
  margin-left: 10px !important;
}

.contentBox2 p {
  font-size: 16px;
}

.contentBox2 ul {
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #f6cfb7;
}

/* Code Blocks */
.codeBlock {
  background-color: #fdfdfd;
  padding: 15px;
  font-size: 17px;
  margin: 7px;
  height: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  font-family: "Source Code Pro", monospace;
  letter-spacing: -0.02rem;
  font-weight: 400;
  font-style: italic;
}

/* Post Input Form */
.postInputForm {
  /* position: absolute; */
  /* height: 38vh; */
  margin: auto;
}
.inputBox {
  width: 1063px;
  background: rgb(230 234 255);
  padding: 55px;
  border-radius: 30px;
  min-height: 38vh;
  /* margin-right: 20px; */
  margin-top: 3rem;
  margin-left: 150px;
  border: 1px solid rgb(93 107 181 / 28%);
}

.inputBoxTitle img {
  max-width: 21px;
}

.inputBoxTitle h2 {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  margin-left: 8px;
  letter-spacing: -0.04rem;
}

.inputBox .inputBoxContent {
  margin: 10px 0;
}

.inputBoxContent p {
  font-size: 15px;
}

.inputBoxContent ul {
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid rgb(93 107 181 / 28%);
}

.inputBoxContent ul input {
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  background: rgb(230 234 255);
  font-size: 16px;
  font-family: Poppins;
  color: #000;
}

.submitButton {
  background-color: rgb(201 210 255);
  border: 1px solid rgb(93 107 181 / 28%);
  border-radius: 7px;
  font-size: 18px;
  margin-top: 20px;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: Poppins;
}

.submitButton:hover {
  background-color: rgb(186 196 251);
}

.asideBar {
  position: absolute;
  top: 50px;
  right: 70px;
  min-height: 77.7vh;
  width: 570px;
  border-radius: 25px;
  background-color: #ffffe1;
  border: 1px solid #e0e0a1;
  z-index: 0;
}

.circle {
  margin-top: 15px;
}

.accuracySection .circle,
.accuracySection .circle {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.accuracySection .percentage {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
  border: 1px solid #e0e0a1;
}

.accuracySectionHead {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  margin-left: 8px;
  letter-spacing: -0.05rem;
  text-align: center;
  margin-top: 50px;
}
